@media screen and (min-width: 768px) {
  .nav-links {
    position: static;
    height: auto;
    width: auto;
    flex-direction: row;
    transform: translateX(0);
    background: none;
  }

  .nav-links li a {
    padding: 0 15px;
  }

  .burger {
    display: none;
  }
}