@charset "UTF-8";

/*
    Colors:
    Pink 1:
    Pink 2:
    Purple:
    Yellow:
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Navbar mobile */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 10px 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.logoi {
  max-width: 40%;
}

.nav-links {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  background: #333;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  list-style: none;
  display: flex;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  display: block;
  transition: color 0.3s;
}

.nav-links.nav-active {
  transform: translateX(0);
}

.burger {
  display: block;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition: all 0.3s;
}

/* Animação do menu */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.burger.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.burger.toggle .line2 {
  opacity: 0;
}
.burger.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.cake {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  width: 100%;
  height: auto;
  margin: 15px;
}